@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  height: 100vh;
  background: rgb(3,95,221);
background: -moz-linear-gradient(322deg, rgba(3,95,221,1) 0%, rgba(221,3,48,1) 100%);
background: -webkit-linear-gradient(322deg, rgba(3,95,221,1) 0%, rgba(221,3,48,1) 100%);
background: linear-gradient(322deg, rgba(3,95,221,1) 0%, rgba(221,3,48,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#035fdd",endColorstr="#dd0330",GradientType=1);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
